html,
body {
	padding: 0;
	margin: 0;
	color: $color-black-light;
	background: $color-gray-light;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

p {
	font-size: 1.8rem;
	line-height: 3rem;
}
