.contentContainer {
	display: flex;

	& main {
		width: 70%;
		margin: 0 1rem 0 0;
	}

	& aside {
		position: relative;
		width: 30%;
		height: auto;
		margin: 0 0 0 1rem;
	}

	@media (max-width: $tablet-max) {
		flex-direction: column;

		& main,
		& aside {
			width: 100%;
		}
	}
}
