/* Colors */
$color-black: #000;
$color-black-light: #2d2d2d;
$color-white: #fff;
$color-gray: #e7e7e7;
$color-gray-light: #f9f9f9;
$color-yellow: #ffe0ac;
$color-pink: #f67280;
$color-pink-dark: #be5661;
$color-purple: #6c5b7b;
$color-red: #c0392b;
