/* Colors */
$color-black: #000;
$color-black-light: #2d2d2d;
$color-white: #fff;
$color-gray: #e7e7e7;
$color-gray-light: #F9F9F9;
$color-yellow: #FFE0AC;
$color-pink: #F67280;
$color-pink-dark: #be5661;
$color-purple: #6C5B7B;