.button {
	display: inline-block;
	width: auto;
	padding: 1em 2em;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;

	&.-primary {
		background: $color-pink;
		color: $color-white;
	}
}

a {
	color: $color-black-light;
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;

	&:hover {
		color: $color-pink;
	}
}
