.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-size: 0;

	& .gallery_item {
		width: 25%;
		padding: .3rem;

		@media (max-width: $mobile-max) {
			width: 100%;
		}

		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			width: 33.33%;
		}
	}

	& .gallery_itemImage {
		width: 100%;
		height: auto;
	}
}
