/* @member of recipe */

.stepGuide {
	padding: 1.5rem;
	margin-bottom: 2rem;
	width: 100%;

	& .stepGuide_title {
		margin: 0;
		font-size: 2rem;
	}

	& .stepGuide_list {
		padding: 0;
		list-style: none;
		font-size: 1.6rem;

		& li {
			position: relative;
			margin: 0 0 2rem;
			padding: 0 0 0 4rem;
			counter-increment: step-counter;

			&:before {
				content: counter(step-counter);
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: .2rem;
				left: 0;
				width: 3rem;
				height: 3rem;
				border-radius: 3rem;
				background: $color-pink;
				color: $color-white;
				font-size: 1.6rem;
			}
		}
	}
}
