.table {
	width: 100%;
	font-size: 1.6rem;
	border: 1px solid $color-gray;

	& .table_subHeadline {
		font-size: 1.8rem;
		font-weight: 500;
		background: $color-gray-light;
	}

	& .table_headline {
		padding: 1.5rem 0;
		font-size: 2rem;
		font-weight: 500;
		color: $color-black;
	}

	& .table_block {
		display: block;
		margin-bottom: 1rem;
	}

	& td {
		vertical-align: top;
		padding: 1rem 1.5rem;
		border: 1px solid $color-gray;
	}
}
